.app-wrapper {
    margin: 0 auto;
    display: grid;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    grid-template-areas: 
    "h h" 
    "n c";
    grid-template-rows: 60px 10fr;
    grid-template-columns: 2fr 10fr;
    

}
.app-wrapper-content {
    grid-area: c;
    background-color: #f18c8e;
    border-radius: 0 0 20px 0;
    color: #305f72;
    font-weight: bold;
}