* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
.app-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    box-shadow: 0 0px 20px rgba(0,0,0,0.3);
    border-radius: 5px;
}
.app-wrapper-content {
    background-color: rgb(233, 228, 228);
    border-radius: 0 0 5px 5px;
    color: #1c1d1d;
    font-weight: bold;
}